<div class="card overflow-hidden border-0 bgc-transparent">
    <div class="card-header bgc-info-d3">
        <h6 class="card-title text-white">
            <i class="far fa-comment-dots text-130 mr-1"></i>
            <span class="text-110">Live Support</span>
        </h6>

        <div class="mr-3">
            <span class="text-white text-95">
                Alex is typing a reply
                <span class="typing-dots text-white text-150">
                    <span class="typing-dot">.</span>
                    <span class="typing-dot">.</span>
                    <span class="typing-dot">.</span>
                </span>
            </span>
        </div>

        <div class="card-toolbar align-self-center">            
            <a href="#" class="card-toolbar-btn text-white" data-dismiss="modal">
                <i class="fas fa-window-minimize"></i>
            </a>
        </div>
    </div>


    <div class="card-body bgc-white-tp1 border-x-1 brc-info-m1 px-1px py-0">
        {{#each (get "conversations")}}
            <div class="media mt-1 mb-2 mx-3">
                <div class="d-flex flex-grow-1">
                    <div class="mr-0 mt-25">
                        {{#if color}}
                            <span class="d-inline-flex align-items-center justify-content-center radius-round bgc-{{color}} text-white font-bolder w-6 h-6">
                            <span>{{avatar}}</span>
                            </span>
                        {{else}}
                            <img alt="User avatar" src="assets/image/avatar/{{avatar}}" class="radius-round border-2 p-1px brc-primary-m2 w-6 h-6" />
                        {{/if}}
                    </div>

                    <div class="media-body py-2 px-3 radius-1 flex-grow-1">
                        <div class="d-flex justify-content-between">
                            <a href="#" class="btn-text-primary btn-h-text-red no-underline text-600 text-95">{{name}}</a>
                            <span class="text-90">
                                <i class="far fa-clock mr-1 text-{{color}}"></i>
                                <span class="text-grey">{{time}}</span>
                            </span>
                        </div>
                        <div class="text-dark-m2 text-90">
                            {{message}}
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>


    <div class="card-footer p-0 brc-secondary-l2">
        <div class="input-group input-group-fade py-2 px-3 bgc-white border-x-1 border-b-1 brc-info-m1 radius-b-1">
            <textarea class="form-control form-control-lg text-110 shadow-none border-0" placeholder="Type something ..."></textarea>

            <div class="input-group-append align-self-center">
                <button class="btn btn-outline-default btn-h-outline-info btn-a-outline-info border-0 radius-round btn-sm px-2" type="button">
                    <i class="fas fa-share text-130 mx-1"></i>
                </button>

                <!-- smiley button and menu -->
                <div class="btn-group ml-2 dropdown">
                    <button type="button" class="btn btn-xs px-0 btn-lighter-yellow dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa-stack">
                            <i class="fas fa-circle text-dark fa-stack-1x text-120"></i>
                            <i class="fas fa-smile text-warning-m2 text-150 fa-stack-1x"></i>
                        </span>
                    </button>

                    <div class="dropdown-menu p-1">
                        <div class="d-flex ">
                            <a class="dropdown-item px-3" href="#">
                                <span class="fa-stack w-auto">
                                    <i class="fas fa-circle text-dark fa-stack-1x text-100"></i>
                                    <i class="fas fa-smile text-warning-m2 text-125 fa-stack-1x"></i>
                                </span>
                            </a>

                            <a class="dropdown-item px-3" href="#">
                                <span class="fa-stack w-auto">
                                    <i class="fas fa-circle text-dark fa-stack-1x text-100"></i>
                                    <i class="fas fa-smile-beam text-warning-m2 text-125 fa-stack-1x"></i>
                                </span>
                            </a>

                            <a class="dropdown-item px-3" href="#">
                                <span class="fa-stack w-auto">
                                    <i class="fas fa-circle text-dark fa-stack-1x text-100"></i>
                                    <i class="fas fa-smile-wink text-warning-m2 text-125 fa-stack-1x"></i>
                                </span>
                            </a>
                        </div>
                    </div>

                    <button type="button" class="btn btn-xs btn-lighter-primary">
                        <i class="fas fa-paperclip text-140"></i>
                    </button>
                </div>

            </div><!-- /.input-group-append -->
        </div><!-- /.input-group -->
    </div><!-- /.card-footer -->

</div><!-- /.card -->
