<div class="bgc-orange-l2 py-25 px-4 border-b-1 brc-orange-l2">
  <span class="text-dark-tp4 text-600 text-90 text-uppercase">
    <i class="fa fa-check mr-2px text-warning-d2 text-120"></i>
    4 Tasks to complete
  </span>
</div>


{{#each (get "layout/navbar-task")}}
  <div class="px-4 py-2">
    <div class="text-95">
        <span class="text-grey-d1">{{title}}</span>
    </div>
    <div class="progress mt-2">
        <div class="progress-bar {{color}}" role="progressbar" style="width: {{percent}}%;" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100">{{percent}}%</div>
    </div>
  </div>

  {{#unless @last}} <hr class="my-1 mx-4" /> {{/unless}}
{{/each}}


<hr class="my-1px mx-2 brc-info-l2 " />
<a href="#" class="d-block bgc-h-primary-l4 py-3 border-0 text-center text-blue-m2">
  <span class="text-85 text-600 text-uppercase">See All Tasks</span>
  <i class="ml-2 fa fa-arrow-right text-muted"></i>
</a>
